<html>
    <head>
        <title>Home</title>
        <style>
            body{line-height:1.6;
                font-size:18px;
                color:#444;
                padding:0 10px;
                font-family: Roboto;
            }
            h1,h2,h3{line-height:1.2}
        </style>
    </head>
    <body>
        <!-- <h1>Ancient greek dramas and play writers</h1>
        <h3>Plays</h3>
        <ol>
            <li><a href="pl/Oedipus Rex">Oedipus Rex</a></li>
            <li><a href="pl/Ajax">Ajax</a></li>
            <li><a href="pl/Antigone">Antigone</a></li>
            <li><a href="pl/Alcestis">Alcestis</a></li>
            <li><a href="pl/Medea">Medea</a></li>
        </ol>
        <h3>Writers</h3>
        <ol>
            <li><a href="p/Sophocles">Sophocles</a></li>
            <li><a href="p/Euripides">Euripides</a></li>
        </ol>-->
    </body>
</html>