
<!--
  © John B 2019
-->
<html>
<head>
    <title>{{person}}</title>
    <style>
        body{line-height:1.6;
            font-size:18px;
            color:#444;
            padding:0 10px;
            font-family: Roboto;
        }
        h1,h2,h3{line-height:1.2}
    </style>
</head>
<body>
    <h1>{{person}}</h1>
    <p>How old they where: {{deathAge}}.<br> Achievements: {{achivments}}</p>
    <p>Some of the plays: {{plays}}</p>
    <p>Sources: {{sources}}</p>
</body>
<footer>
    <a href="https://gitlab.com/Nosuchthingj/drama">Github</a>
    <a href="../../">Home</a>
</footer>
</html>