<!--
  © John B 2019
-->
<html>
<head>
    <title>{{name}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        body{line-height:1.6;
            font-size:18px;
            color:#444;
            padding:0 10px;
            font-family: Roboto;
        }
        h1,h2,h3{line-height:1.2}
    </style>
</head>
<body>
    <h1 class="name">{{name}}</h1>
    <p class="about">{{about}}</p>
    <p>{{plot}}</p>
    <p>Sources: {{sources}}</p>
</body>
<footer>
    <a href="https://gitlab.com/Nosuchthingj/drama">Github</a>
    <a href="../../">Home</a>
</footer>
</html>